<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="SiteMapper">

    <select id="selectWebsite" resultType="Site">
        SELECT id, name, url, age, country
        FROM website
        WHERE age in
        <foreach collection="list" item="age" index="index" open="(" separator="," close=")">
            #{age}
        </foreach>
    </select>
</mapper>